    r.on "<%= @plural %>" do
      controller = <%= @namespace %>::Controller.new(self)

      r.get("new") { controller.new }

      r.on Integer do |id|
        r.get("edit") { controller.edit(id) }

        r.is do
          r.get    { controller.show(id) }
          r.put    { controller.update(id, r) }
          r.delete { controller.destroy(id, r) }
        end
      end

      r.is do
        r.get  { controller.index }
        r.post { controller.create(r) }
      end
    end
