# frozen_string_literal: true

require "rake/testtask"

Rake::TestTask.new(:test) do |t|
  t.libs << "test"
  t.test_files = FileList["test/**/*_test.rb", "app/**/*_test.rb"]
  t.warning    = false
end

namespace :native do
  desc "Lower this app to a Spinel project (native/)"
  task :generate do
    sh "bundle exec izen native generate --spinel"
  end

  desc "Build one native binary with Spinel"
  task :build do
    sh "bundle exec izen native build"
  end

  desc "Run the generated app on CRuby (development)"
  task :run do
    sh "bundle exec izen native run"
  end
end

task default: :test
